:root{
    --topspacing: 50px;
    --sidespacing: 200px;
    --sidespacing2: 300px;
    --color1: #d0ddef;
    --color2: #ffa585;
    --color3: #FF7F50;
    --color4: #80A4ED;
    --color5: #BCD3F2;
    --color6: #fda98a;
    
}
html, body {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: verdana;
    background-color: var(--color1);
  }
  
  #menubar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--color4);
    overflow: hidden;
  }
  
  /* Styles for the menubar */
  #menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  #menubar li {
    float: left;
    width: auto;
  }
  
  #menubar a {
    display: block;
    padding: 10px 20px;
    background-color: var(--color4);
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  #menubar a:hover {
    background-color: var(--color2);
    color: black;
  }
  
  #menubar a.active {
    background-color: var(--color3);
    color: black;
  }
  
  
  
  
  #title {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: var(--color4);
    margin: 0px var(--sidespacing);
    margin-top: var(--topspacing);
  }
  
  #textcontent {
    margin: 0px var(--sidespacing);
    background-color: var(--color5);
    padding: 25px 20px;
  }

  #nextbutton{
    background-color: var(--color2);
    text-align: center;
    width: 200px;
    position: absolute;
    right: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  #nextbutton a{
    display:block;
    text-decoration: none;
    font-size: 35px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color:black
  }

  #nextbutton a:hover {
    background-color: var(--color3);
    color: black;
  }
  
  #nextbutton a.active {
    background-color: #04AA6D;
    color: white;
  }

  #quoteblock {
    font-style: italic;
    padding: 20px 50px;
    line-height: 30px;
  }

  #textcontent p{
    font-size: 20px;
    line-height: 30px;
  }

  img{
    width: 100%;
  }

  #imageheading{
    font-size: 10px;
    padding-top: 0px;
    font-style: italic;
  }
  
  #footnotes {
    background-color: var(--color5);
    margin: 200px var(--sidespacing2);
    padding: 5px 20px;
    margin-bottom: 100px;
  }
