:root{
    --topspacing: 50px;
    --sidespacing: 200px;
}
html, body {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: verdana;
    background-color: white;
  }
  
  #menubar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #dddddd;
    overflow: hidden;
  }
  
  /* Styles for the menubar */
  #menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  #menubar li {
    float: left;
    width: auto;
  }
  
  #menubar a {
    display: block;
    padding: 10px 20px;
    background-color: #dddddd;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  #menubar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #menubar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  
  
  #title {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: aqua;
    margin: 0px var(--sidespacing);
    margin-top: var(--topspacing);
  }
  
  #textcontent {
    margin: 0px var(--sidespacing);
    background-color: rebeccapurple;
    padding: 5px 20px;
  }

  #nextbutton{
    background-color: beige;
    text-align: center;
    width: 200px;
    position: absolute;
    right: 200px;
    margin-top: 50px;
  }

  #nextbutton a{
    display:block;
    text-decoration: none;
    font-size: 35px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color:black
  }

  #nextbutton a:hover {
    color: black;
  }
  
  #nextbutton a.active {
    background-color: #04AA6D;
    color: white;
  }
  